<div class="container-fluid container-productos">
  <h1>Productos</h1>
  <p>Ofrecemos en nuestras prendas una calidad excelente,para el gusto de nuestros clientes tenemos tallas, y
    tamaños de nuestras prendas para todo tipo de cuerpo, ofrecemos,buzos,pantalones,camisas,chaquetas y
    queremos incorporarle accesorios,nuestros productos cuentan con un metodo de pago facil para todo usuario,
    manejas diferentes categorias en diseño,y segun temporada o genero que el cliente desee.</p>
    <button class="boton-productos">Ingresar</button>
</div>
<div id="carouselExampleDark" class="carousel slide-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active align-text-top">
      <h2>Servicios</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias est velit repudiandae totam a ad, tempore nobis eveniet doloremque maiores! Molestiae dicta eum ea molestias quam fuga sequi doloribus assumenda?</p>
      <img src="assets/img/servicios.jpg" class="carousel-img">
    </div>
    <div class="carousel-item">
      <h2>Productos</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias est velit repudiandae totam a ad, tempore nobis eveniet doloremque maiores! Molestiae dicta eum ea molestias quam fuga sequi doloribus assumenda?</p>
      <img src="assets/img/camisas.jpg" class="carousel-img">
    </div>
    <div class="carousel-item">
      <h2>Ubicacion</h2>
      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d254508.5164108871!2d-74.2478956352886!3d4.648283716981153!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9bfd2da6cb29%3A0x239d635520a33914!2zQm9nb3TDoQ!5e0!3m2!1ses-419!2sco!4v1656430786285!5m2!1ses-419!2sco"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade" class="carousel-mapa"></iframe>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Quienes Somos
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2>Quienes Somos</h2>
          La empresa se caracteriza por la calidad de sus prendas, somos un grupo de emprendedores que quiso sacar
            una marca de ropa nueva e innovativa, empezamos con un sueño y hoy en día estamos trabajando por la
            satisfacción de tener nuevas prendas para el gusto de todos nuestros clientes. Conservamos la calidad y la
            caracterización de nuestras prendas, queremos vender un producto el cual valga la pena comprar que no solo
            nos elijan por nuestra calidad de prendas si no por el servicio dado al cliente.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Mision
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2>Mision</h2>
          <p>Nuestra mision como empresa es desarrollar un sistema de informacion el cual organice nuestro
            inventario,nuestros objetivos generales son que nuestro cliente se sienta a gustocon nuestras
            prendas y el servicio de nuestros emprendedores,supervisaremos el servicio al cliente de manera
            adecuada,que nuestros clientes puedan sentir que son importantess para nuestra
            empresa,conservaremoss siempre nuestra escencia como empresa,en nuestra pagina encontraras tus
            prendas favoritas y las que esten mas familiarisadas con tu estilo,integramos una paina web
            porque actualmente no se tenia y nuestra mision es conservar este sistema y seguir creciendo
            como empresa. </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Vision
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <h2>Vision</h2>
          <p>Nuestras metas como empresa a corto plazo son:Empezar a vender mas nuestros productos y que
            nuestra calidad se vea reflejada en nuestras prendas, nuestras metas a largo plazo son: tener
            tiendas de nbuestra marca de ropa distribuidas en varios puntos de Bogota y Colombia,queremos
            expandir nuestras tiendas de manera contributiva para llegar a hacer una marca reconocida en
            colombia, otra de nuestras metas es llegar a vender nuestra marca al exterior,a otros paises y
            que otras marcas pidan nuestros productos. </p>
        </div>
      </div>
    </div>
  </div>
</div>
