<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="assets/img/LOGOP.png" alt="" class="logo-navbar"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['home']">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['productos']">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['contacto']">Contacto</a>
        </li>
      </ul>
      <form class="d-flex align-self-start">
        <input class="form-control me-2" type="text" placeholder="Buscar producto" (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto>
        <button (click)="buscarProducto(buscarTexto.value)" class="btn btn-outline-light boton-buscar" type="submit">Buscar</button>
      </form>

    <div class="d-flex">
      <a class="navbar-brand " href="#">
        <img src="assets/img/Carrito.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Carrito
      </a>
      <a class="navbar-brand " href="#">
        <img src="assets/img/Usuario.png" alt="Logo" width="25" height="20" class="d-inline-block align-text-center">
        Iniciar Sesion
      </a>
      </div>
    </div>
  </div>
</nav>
